<div class="row">
    <div class="col-md-6">
      <h1>Running for Brews 5k Events</h1>
      <a href="/locations" target="_blank"><img src="../../content/images/kevincover.jpg" class="img-responsive img-thumbnail" alt=""></a>
    </div>
    <div class="col-md-5">
            <h3>We Love 5k Running &amp; Craft Brews</h3>
                <div>
            <p><b>Running for Brews</b> celebrates our love for fitness and craft brews. We meet a local bars, run a 2 or 3.1 mile route, and then drink delicious craft brews at the finish. With over 10,000+ members nationwide, RFB is continuously gathering like-minded runners to socialize and have some fun. <a href="/aboutus.html"><b>Find Out How It All Began</b></a></p>
            <p>Find your location, like us on facebook, and come join us at a weekly event!</p>
            <a href="/locations" class="btn btn-success btn-lg">Find a Club Location</a>
          </div>
    </div>
</div>
